<h1 style="text-align: center;">失敗を次に活かす</h1><br>
<hr>

<div class="container" id="forms">
  <%= bootstrap_form_for @failure, url: wizard_path do |f| %>
    <div class="field">
      <%= f.label :同じ失敗を犯した時の応急処置策 %>
      <%= f.text_area :action, :size => "100x5" %>
    </div>
    <div class="field">
      <%= f.label :再発を防止するためにするべきこと %>
      <%= f.text_area :prevention, :size => "100x5" %>
    </div>
    <div class="field">
      <%= f.label :失敗から得た教訓 %>
      <%= f.text_area :lesson, :size => "100x5" %>
    </div>
    <div class="actions" style="text-align: center;">
        <%= f.submit "記録を完了する", :class => "btn btn-primary" %>
    </div>
  <% end %>
</div>