<h1 style="text-align: center;">失敗を客観的に捉え直す</h1><br>
<hr>

<div class="container" id="forms">
  <%= bootstrap_form_for @failure, url: wizard_path do |f| %>
    <div class="field">
      <%= f.label :起きた事象を客観的に捉え、時系列順に記入してください %>
      <%= f.text_area :timeline, :size => "100x5" %>
    </div>
    <div class="field">
      <%= f.label :根本原因は何だったのか、客観的に分析してください %>
      <%= f.text_area :cause, :size => "100x5" %>
    </div>
    <div class="field">
      <%= f.label :失敗による影響と損害はどの程度のものでしたか？客観的に評価してみましょう %>
      <%= f.text_area :damage, :size => "100x5" %>
    </div>
    <div class="actions" style="text-align: center;">
        <%= f.submit "次へ", :class => "btn btn-primary" %>
    </div>
  <% end %>
</div>