<h1 style="text-align: center;">失敗を記録する</h1><br>
<hr>

<div class="container" id="forms">
  <%= bootstrap_form_for @failure do |f| %>
    <div class="field">
      <%= f.label :タイトルをつけてください %><br>
      <%= f.text_field :title, label: "タイトルをつけてください" %><br>
    </div>
    <div class="field">
      <%= f.label :失敗の概要を記述してください %><br>
      <%= f.text_area :overview, :size => "100x5", label: "失敗の概要を記述してください" %><br>
    </div>
    <div class="action" style="text-align: center;">
    <%= f.submit "次へ", :class => "btn btn-primary" %>
    </div>
  <% end %>
</div>