<h1 style="text-align: center;">失敗を記録する</h1><br>
<hr>

<div class="container" id="forms">
  <%= bootstrap_form_for @failure do |f| %>
    <div class="form-group">
      <%= f.label :タイトルをつけてください %><br>
      <%= f.text_field :title %><br>
    </div>
    <div class="form-group">
      <%= f.label :失敗の概要を記述してください %><br>
      <%= f.text_area :overview, :size => "100x5" %><br>
    </div>
    <div class="form-group">
      <%= f.label :起きた事象を客観的に捉え、時系列順に記入してください %><br>
      <%= f.text_area :timeline, :size => "100x5" %><br>
    </div>
    <div class="form-group">
      <%= f.label :根本原因は何だったのか、客観的に分析してください %><br>
      <%= f.text_area :cause, :size => "100x5" %><br>
    </div>
    <div class="form-group">
      <%= f.label :失敗による影響と損害はどの程度のものでしたか？客観的に評価してみましょう %><br>
      <%= f.text_area :damage, :size => "100x5" %><br>
    </div>
    <div class="form-group">
      <%= f.label :同じ失敗を犯した場合に、被害を最小限に止めるためにするべきこと %><br>
      <%= f.text_area :action, :size => "100x5" %><br>
    </div>
    <div class="form-group">
      <%= f.label :再発を防止するためにするべきこと %><br>
      <%= f.text_area :prevention, :size => "100x5" %><br>
    </div>
    <div class="form-group">
      <%= f.label :失敗から得た教訓 %><br>
      <%= f.text_area :lesson, :size => "100x5" %><br>
    </div>
    <div class="form-group" style="text-align: center;">
    <%= f.submit "記録する", :class => "btn btn-primary" %>
    </div>
  <% end %>
</div>