<div class="container" id="forms">
  <%= form_for @failure do |f| %>
    <div class="form-group">
      <%= f.label :タイトル %><br>
      <%= f.text_area :title %><br>
    </div>
    <div class="form-group">
      <%= f.label :概要 %><br>
      <%= f.text_area :overview, :size => "100x5" %><br>
    </div>
    <div class="form-group">
      <%= f.label :タイムライン %><br>
      <%= f.text_area :timeline, :size => "100x5" %><br>
    </div>
    <div class="form-group">
      <%= f.label :根本原因 %><br>
      <%= f.text_area :cause, :size => "100x5" %><br>
    </div>
    <div class="form-group">
      <%= f.label :影響と損害 %><br>
      <%= f.text_area :damage, :size => "100x5" %><br>
    </div>
    <div class="form-group">
      <%= f.label :同じ失敗をしてしまった場合に被害を最小限にとどめるための行動一式 %><br>
      <%= f.text_area :action, :size => "100x5" %><br>
    </div>
    <div class="form-group">
      <%= f.label :再発防止のための行動一式 %><br>
      <%= f.text_area :prevention, :size => "100x5" %><br>
    </div>
    <div class="form-group">
      <%= f.label :教訓 %><br>
      <%= f.text_area :lesson, :size => "100x5" %><br>
    </div>
    <%= f.submit "記録する", :class => "btn btn-primary" %>
  <% end %>
</div>